!!! 5
%html
  %head
    %title Sample App
    %link{ rel: 'stylesheet', type: 'text/css', href: '/stylesheets/main.css' }
    %script{ type: 'text/javascript', src: '/javascripts/hoge.js' }
  %body
    = yield
